body {
 background-color: #6e6e6e;
 margin: 0px;
 padding: 0px;
 scrollbar-face-color:#47848a;
 scrollbar-highlight-color:#6e6e6e;
 scrollbar-3dlight-color:#6e6e6e;
 scrollbar-darkshadow-color:#6e6e6e;
 scrollbar-shadow-color:#6e6e6e;
 scrollbar-arrow-color:#ffffff;
 scrollbar-track-color:#6e6e6e;}

a, a:hover {cursor: pointer; text-decoration: none;}
form {padding: 0px; margin: 0px;}

TD {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: normal;
 font-size: 11px;
 color: #34484c; }

.size {
    border-color:#008998;
	border-style:solid;
	text-align:center;
	vertical-align:middle;
	height:30px;
	}

.size2 {
	text-decoration: bold;
	color: #00CC00;
	text-align:center;
	vertical-align:middle;
	height:20px;
	}

.size3 {
	text-align:center;
	vertical-align:middle;
	height:20px;
	}
	
.tdb {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: bold;
 font-size: 13px;
 color: #34484c; }

.bgcontent {background-image: url(images/bgcontent.jpg);
 background-position: center;
 background-repeat: repeat-y;}

.bgc {background-image: url(images/bgc.jpg);
 background-position: bottom center;
 background-repeat: no-repeat;}

.web {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: normal;
 padding: 0px 0px 0px 130px;
 font-size: 10px;
 color: #515151; }

.divcontent {margin: 22px 22px 62px 22px;}

.link {
 font-family: tahoma, arial, verdana;
 text-decoration: underline;
 font-weight: normal;
 font-size: 11px;
 color: #008998; }
.link:hover {
 font-family: tahoma, arial, verdana;
 text-decoration: underline;
 font-weight: normal;
 font-size: 11px;
 color: #555555; }

.linkb {
 font-family: tahoma, arial, verdana;
 text-decoration: underline;
 font-weight: bold;
 font-size: 11px;
 color: #008998; }
.linkb:hover {
 font-family: tahoma, arial, verdana;
 text-decoration: underline;
 font-weight: bold;
 font-size: 11px;
 color: #555555; }

.cat {
 font-family: verdana, tahoma, arial;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #4e5158; }
.cat:hover {
 font-family: verdana, tahoma, arial;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #008998; }
.acat {
 font-family: verdana, tahoma, arial;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #008998; }

.cat2 {
 font-family: verdana, tahoma, arial;
 text-decoration: none;
 font-weight: bold;
 font-size: 10px;
 color: #4e5158; }

.inputc {
 border: #bcbcbc 1px solid;
 width: 214px;
 height: 20px;
 font-family: arial, verdana, tahoma;
 background-color: #eaf4f5;
 font-size: 11px;
 color: #5f5f5f;}
.txtar {
 border: #bcbcbc 1px solid;
 width: 240px;
 height: 106px;
 font-family: arial, verdana, tahoma;
 overflow: auto;
 background-color: #eaf4f5;
 font-size: 11px;
 color: #5f5f5f;}

.but1 {
 background-image: url(images/but1.gif);
 background-position: center;
 background-repeat: no-repeat;
 cursor: pointer;
 border: 0px solid;
 width: 47px;
 height: 11px;
 margin: 0px 0px 0px 40px;}
.but2 {
 background-image: url(images/but2.gif);
 background-position: center;
 background-repeat: no-repeat;
 cursor: pointer;
 border: 0px solid;
 width: 49px;
 height: 11px;
 margin: 0px 0px 0px 0px;}

.li {list-style-image: url(images/sq.gif);}
.ul {
 margin: 0px 0px 0px 18px;
 padding: 0px 0px 0px 0px;
 line-height: 24px;}

/*----------------------------------------------------------------------------*/













.copy {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #cdcdcd; }
.cl {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #cdcdcd; }
.cl:hover {
 font-family: tahoma, arial, verdana;
 text-decoration: none;
 font-weight: normal;
 font-size: 10px;
 color: #f48d4e; }
.cp {padding: 0px 0px 0px 208px;}

.page_02 {
 background-image: url(images/page_02.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 756px;
 height: 136px;}
.page_10 {
 background-image: url(images/page_10.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 756px;
 height: 47px;}
.firsttop_12 {
 background-image: url(images/firsttop_12.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 527px;
 height: 38px;}



.name2 {margin: 33px 0px 0px 122px;}

.divmenu {
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
 position: absolute;}

.page_05 {
 background-image: url(images/page_05.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 15px;
 height: 546px;}
.divleft {
 margin: 260px 0px 0px -20px;
 padding: 0px 0px 0px 0px;
 position: absolute;}
.page_08 {
 background-image: url(images/page_08.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 15px;
 height: 546px;}
.divright {
 margin: 260px -20px 0px 0px;
 padding: 0px 0px 0px 0px;
 position: absolute;}

.page_04 {
 background-image: url(images/page_04.gif);
 background-position: center;
 background-repeat: no-repeat;
 width: 756px;
 height: 16px;}

.divmc {
 margin: 34px 32px 34px 32px;
 padding: 0px 0px 0px 0px;}

.imgtxt {
 background-image: url(images/imgtxt.gif);
 background-position: top left;
 background-repeat: no-repeat;}


.img {border: 1px solid #767676;}
.im {margin: 0px 10px 10px 0px;}
.aimg {border: 1px solid #e27306;}




/*----------------------------------------------------------------------------*/
